<div class="d-flex justify-content-center align-item-center">
    <%= form_with  id:"my-form", model: @note, url: @action == 'edit' ? note_path : notes_path, method: @action == 'edit' ? :PATCH : :POST do |form| %>
      <%= form.text_field :label_title, class:'form-control input'%><br>
      <input id="submitbtn" type="submit" value="Save" name= 'Add' ></input>  
    <% end %>
</div>