<div id="mySidebar" class="sidebar">
  <a href= "/#note-view", id="note" ><i class="ri-booklet-line"></i> <span>Notes</span></a>
  <a href="/#reminder-view", id="reminder"><i class="ri-notification-3-line"></i><span>Reminders</span></a>
  <a href="/#edit-label-view", id="edit-label"><i class="ri-edit-2-line"></i><span>Edit labels</span></a>
  <a href="/#archive-view", id="archive"><i class="ri-inbox-archive-line"></i><span>Archive</span></a>
  <a href="/#bin-view", id="bin"><i class="ri-delete-bin-5-line"></i><span>Bin</span></a>
</div>


<nav class="navbar navbar-light bg-light ">
  <a class=" navbar-brand openbtn" >☰ Keep</a> 
  <div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row px-5" >
      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link text-dark"%>     
        </li>

      <% else%>

        <li class="nav-item mx-4">
          <%= link_to "Sign In", new_user_session_path , class:"nav-link text-dark"%>     
        </li>

        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path , class:"nav-link text-dark" %>       
        </li>  
      <%end %>   
    </ul>  
  </div>

</nav>


