
<div id="mySidebar" class="sidebar">
  <a href= "#note-view", id="note" >Notes</a>
  <a href="#reminder-view", id="reminder">Reminders</a>
  <a href="#edit-label-view", id="edit-label">Edit labels</a>
  <a href="#archive-view", id="archive">Archive</a>
  <a href="#bin-view", id="bin">Bin</a>
</div>


<nav class="navbar navbar-light bg-light ">
  <a class=" navbar-brand openbtn" >☰ Keep</a>  
  <form class="form-inline">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>